@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.notification {
  min-width: 10px;
  height: 23px;
  padding: 20px;
  margin-bottom: 20px;

  &-bar {
    @include flex;
    background-color: $color-yellow;
    color: $color-text;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 20px;
    animation: fadeInOut 2s ease-in-out;
    animation-fill-mode: forwards;
  }
}
