@import '../../styles/_variables.scss';

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%heading {
  color: $color-white;
  font-size: 2em;
  font-family: fantasy;
  text-transform: uppercase;
  margin-bottom: 40px;
}
