$color-card-shadow:#ffc8fb;
$color-white: #ffffff;
$color-red: #c4564a;
$color-dark-red: #c44d40;
$color-black: #000000;
$color-green: #5fc49c;
$color-btn-hover: #FF9800;
$color-text: #324484;
$color-card-text: #a16008;
$color-yellow: #e59621;
$color-dark-green: #2fb57f;
$color-body-bg:#4C2F96;
