@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.button--primary {
  padding: 12px 32px;
  border-radius: 40px;
  font-size: 1rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  background-color: $color-yellow;
  cursor: pointer;
  border: 1px solid $color-yellow;
  color: $color-text;
  outline: none;
  @include flex;
  color: $color-white;
  text-transform: uppercase;

  &:hover {
    background-color: $color-btn-hover;
  }
}

.button--success {
  background-color: $color-green;
  border: 1px solid $color-green;

  &:hover {
    background-color: $color-dark-green;
  }
}

.button--failure {
  background-color: $color-red;
  border: 1px solid $color-red;

  &:hover {
    background-color: $color-dark-red;
  }
}

.tick--success  {
  background: url(../../assets/images/tick.svg) 0 0 no-repeat;
}

.tick--failure  {
  background: url(../../assets/images/cross.png) 0 0 no-repeat;
}

.status--mark {
  background-size: 100%;
  width: 50px;
  height: 50px;
  display: inherit;
  border-radius: 50%;
  background-color: $color-white;
  margin-bottom: 20px;
}

.result-container {
  @include flex;
  flex-direction: column;
  @include anim-fade-in(0, 1);
  animation: fadeIn 1s ease-in;
}

.hide {
  display: none;
}
