@import '../../styles/_placeholders.scss';

.dashboard {
  height: 100%;
  padding: 20px 5em;
  font-weight: bold;
  position: relative;

  h3 {
    @extend %heading;
    @extend %flex;

    &.hang {
      position: absolute;
      top: 5px;
      margin: 0 auto;
      left: 0;
      right: 0;
    }
  }



  .welcome-page {
    @extend %flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    @extend %heading;
  }

  .instructions {
    @extend %flex;
    flex-direction: column;
    font-size: 1em;
  }

  p {
    margin: 10px;
  }

  .button--primary {
    margin-top: 30px;
  }
}

.hide {
  display: none !important;
}
