@import '../../styles/_placeholders.scss';

.gameboard {
  @extend %flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  border-radius: 20px;
  position: relative;
  justify-content: flex-start;
}
