@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';

.gameboard {
  @include flex;
  flex-direction: column;
  padding: 20px;
  height: 100%;
  // background-color: #9E9E9E;
  // background-image: linear-gradient(30deg, #ffc107a8 0%, #ff98008c 50%, #ff980091 60%);
  border-radius: 20px;
  position: relative;
  justify-content: flex-start;

  .notification {
    min-width: 10px;
    height: 23px;
    padding: 20px;
    margin-bottom: 20px;

    &-bar {
      @include flex;
      background-color: $color-yellow;
      color: $color-text;
      font-size: 1.2em;
      font-weight: bold;
      border-radius: 20px;
      animation: fadeInOut 2s ease-in-out;
      animation-fill-mode: forwards;
      
    }
  }
}

.icon--sound {
  background: url(../../assets/images/sound.jpg) 0 0 no-repeat;
  background-size: 100%;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;

  &.enable {
    border: 2px solid $color-yellow;
  }
}
